<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="navbar">
    <h2>AI Recruit</h2>
    <div>
        <a href="/" class="active-tab">Home</a>
        <a href="/login">Login</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/jobs">Jobs</a>
    </div>
</div>
<div class="leaves">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="dashboard">

<h2>Available Jobs</h2>

{{table | safe}}

</div>

</body>
</html>